@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

p{
  font-size: clamp(0.8rem, 2vw, 1rem);
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: clamp( 270px, 70vw, 360px);
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: min(15vw, 6rem);
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.product__image {
  width: 6rem;
  height: auto;
  justify-self: center;
  fill: red;
}

.product__colors{
  text-align: center;
  grid-row: span 2;
}


.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

.choose-colors{
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 20px; */
}

.color-option {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items:flex-start;
}

.color-option__box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 10px;
  border: 1px solid white
}

.color-option__box--selected {
  box-shadow: 0 0  10px 2px white;
}

.color-option__name{
  text-align: center;
  margin: 10px;
}


#white {
  background-color: white;
}

#red {
  background-color: red;
}

#skyblue {
  background-color: skyblue;
}

#black {
  background-color: black;
}

.order {
  align-self: flex-end;
  justify-self: center;
  grid-column: 1;
}

.order__button {
  font-size: 1rem;
  border: 2px solid #b1b1b2;
  border-radius: 20px;
  padding: 0.6em 2.5em;
  font-size: clamp(0.8rem, 2vw, 1rem);
  background-color: #525252;
  color:#b1b1b2;
}

.order__button--enabled {
  color: white;
  background-color: #141518;
  border: 2px solid white;
}

.order__button--enabled:hover{
  box-shadow: 0 0  10px 2px white;
}

.message {
  grid-row: 3;
  grid-column: span 2;
}

@media  screen and (min-width: 600px) {
  /* header {
    height: 360px;
  } */

  .product {
    gap: 20px 50px ;
    grid-template-columns: auto auto 1fr;
  }
  .product__colors {
    grid-row: span 1;
  }
  .choose-colors{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .order {
    grid-column: 3;
    margin-bottom: 20px;
    justify-self: flex-end;
  }

  .color-option__box{
    width: 40px;
    height: 40px;
  }
  .color-option {
    display: block;
    width: 50px;
  }

  .message {
    grid-row: 2;
    grid-column: span 3;
  }
}
