@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto 1fr;
  
}

.product__image {
  width: 6rem;
  height: auto;
}

.product__colors{
  text-align: center;
}


.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

.color-option {
  width: 50px;
}

.color-option__box {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0  10px 2px white;
  margin: auto;
}

.color-option__name{
  text-align: center;
  margin-bottom: 0px;
}

.choose-colors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

#white {
  background-color: white;
}

#red {
  background-color: red;
}

#blue {
  background-color: skyblue;
}

#black {
  background-color: black;
}

.order {
  align-self: flex-end;
  justify-self: end;
}

.order__button {
  background-color: #141518;
  font-size: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 40px;
  
}

